# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`    `원본을 바꾸는게 아님. `

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.    `method라고 부르겠대`

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.capitalize()  # 첫글자만 대문자 나머지는 다 소문자
a.title()
a.upper()
print(a)

hI! Everyone, I'm kim

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [2]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.lower()
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

In [3]:
# 아래에 코드를 작성하세요.
# '!'.join('배고파')
'-'.join(['1','2','3','4','5'])

'1-2-3-4-5'

### `.replace(old, new[, count])`      [ ]에 있는 거는 추가할 수 있는 것, 옵션이라는 얘기

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [4]:
# 아래에 코드를 작성하세요.
word = 'yay!'
word.replace('a','_')

word2 = 'wooooooow'
print(word2.replace('o','a',3))

waaaoooow

### 글씨 제거 (`strip('chars')`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [5]:
# 아래에 코드를 작성하세요.
'               hello'.strip()
'          hello   '.lstrip()
'          hello   '.rstrip()
'hihihihihihihi123hihihihihi'.rstrip('hi')

'hihihihihihihi123'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [6]:
# 아래에 코드를 작성하세요.
'apple'.find('a')

0

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [7]:
# 아래에 코드를 작성하세요.
'apple'.index('a')

0

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [8]:
# 아래에 코드를 작성하세요.
'apple peach grape'.split()
'apple!peach!grape'.split('!')

['apple', 'peach', 'grape']

## 다양한 확인 메소드 : 참/거짓 반환    #is~는 이거 뭐뭐니? 
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

In [9]:
dir('string')
dir(1)      이거 뭔소리여

SyntaxError: invalid syntax (<ipython-input-9-f3aaa0f05d9c>, line 2)

# 리스트 메소드 활용하기           원본이 바뀜.

## 값 추가 및 삭제

### `.append(x)` 한 개만 됨

리스트에 값을 추가할 수 있습니다.

In [12]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [13]:
# 값을 추가해봅시다.  실행 여러 번 하면 그만큼 개수가 생김.
cafe.append('cafebene')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'cafebene']

In [14]:
# 어렵게 넣어보도록 해봅시다.
cafe[len(cafe):] = ['ediya']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya']

### `.extend(iterable)` 여러 개 됨

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [15]:
# 앞서 만든 리스트에 추가해봅시다.
cafe.extend(['droptop','gongcha'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha']

In [16]:
# 앞서 배운 list concatenate와 동일합니다. 연결의 느낌
cafe += ['빽다방','megacoffee']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee']

In [17]:
# append와 비교해봅시다. 이건 리스트 자체가 들어감
cafe.append(['청자다방'])
print(cafe)
cafe.append('커피빈')
print(cafe)
cafe.extend(('벌크',)) # 문자열 하나만 들어가면 안 됨.
print(cafe)
cafe.extend(['벌크','케냐']) 
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방']]
['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방'], '커피빈']
['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방'], '커피빈', '벌크']
['starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방'], '커피빈', '벌크', '벌크', '케냐']

### `insert(i, x)`   

정해진 위치 `i`에 값을 추가합니다.

In [16]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
cafe.insert(0, 'hi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방'], '커피빈', '벌', '크', '벌크', '케냐']

In [17]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
cafe.insert(len(cafe), 'bye')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방'], '커피빈', '벌', '크', '벌크', '케냐', 'bye']

In [18]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
cafe.insert(999,'hihi')
print(cafe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'cafebene', 'ediya', 'droptop', 'gongcha', '빽다방', 'megacoffee', ['청자다방'], '커피빈', '벌', '크', '벌크', '케냐', 'bye', 'hihi']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [19]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [20]:
# 중복된 값 1을 삭제 해봅시다. 한 번만 실행하면 하나만 없어지고 두 번 실행하면 두 번째꺼 없어지고 없을 때 없애려고 하면 오류
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [21]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [22]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [23]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [24]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요. 원본이 바뀐다!
print(numbers.pop(0)) # 야 이거 빼왔어! 하고 보여주는 거
print(numbers)

1
[2, 3, 4, 5, 6]

In [25]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(numbers)
value = numbers.pop(4)
print(f'{value}가 빠져나온 결과는 {numbers}입니다.')

[2, 3, 4, 5, 6]
6가 빠져나온 결과는 [2, 3, 4, 5]입니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [26]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(1)

0

In [27]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
numbers.index(10)

ValueError: 10 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [28]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [29]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
num = 1
for number in range(numbers.count(num)):
    numbers.remove(num)
print(numbers)

[2, 5, 5]

In [30]:
# 모두 삭제되었는지 검증해봅시다.
num in numbers # 여기서 num은 위에 숫자 1!!

False

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [31]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[28, 8, 34, 23, 10, 6]

In [32]:
# sort를 사용해봅시다.
print(lotto.sort())   # 왜 넌 나와?
print(lotto)
print(lotto.sort(reverse = True)) # 내림차순으로 하고싶으면 이렇게

None
[6, 8, 10, 23, 28, 34]
None

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [33]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)
classroom.reverse()
print(classroom)

['Tom', 'David', 'Justin']
['Justin', 'David', 'Tom']

## 복사

In [34]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copy_list = original_list
print(original_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [35]:
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 123
print(original_list)
print(copy_list) #오잉 같이 바뀌었어!!!!

[123, 2, 3]
[123, 2, 3]

In [36]:
# id 값을 확안해봅시다.    오~~~ 같아!
print(id(original_list))    
print(id(copy_list))

1300506140808
1300506140808

In [37]:
# 숫자를 확인해봅시다. 이건 a를 b가 복사하면서 b의 값만 바꿔준거야!!!! 원본은 살아있지 우후훗
a = 123456
b = a
b = 654321
print(a)

123456

In [38]:
# 딕셔너리도 확인해봅시다. 이건 lunch랑 dinner가 같은 주소값에 가서 둘의 결과가 다 바뀌는겨. 원본도 같이 바뀐다네~
lunch = {'차이나': '고추참치덮밥', '스냅스낵':'라면'}
dinner = lunch
dinner['차이나'] = '쫄면'
print(lunch)

{'차이나': '쫄면', '스냅스낵': '라면'}

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [39]:
# 리스트를 복사해봅시다.  원본은 살아있네 살아있어!!!!
a = [1,2,3]
b = a[:]
b[0] = 123
print(a)

[1, 2, 3]

In [40]:
# 다른 방법으로 복사해봅시다.
a = [1,2,3]
b = list(a)
b[0] = 123
print(a)

[1, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [41]:
# 2차원 배열을 복사해봅시다. 오메! 원본 바꼇엉ㅠㅠ 왜냐 첫 리스트만 복사 되거덩!! 그래서 얕은 복사야~~~ 깊은 복사를 하려면 아래를 공부해!
a = [1,2,[9,10]]
b = list(a)
b[2][0] = 999
print(a)

[1, 2, [999, 10]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [42]:
# 깊은 복사를 사용해봅시다. copy modul을 가져와서 사용할거래
import copy
a = [1,2,[9,10]]
b = copy.deepcopy(a)
b[2][0] = 999
print(a)

[1, 2, [9, 10]]

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [43]:
# clear를 사용해봅시다.
cafe.clear()
print(cafe)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [3]:
numbers = range(1, 11)

In [5]:
# 기존의방법
result=[]
for num in numbers:
    nums = num * num * num #바보!!!!! num ** 3하면 되잖아!!!!!!!
    result.append(nums)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [6]:
# List Comprehension
cubic_list = [num **3 for num in numbers] 
#콜론 붙이지 않음 for 앞에 있는 것이 리스트에 들어가는 것들임
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [7]:
numbers = range(1, 11)

In [12]:
# 기존의방법
even_list = []
for num in numbers:
    if num % 2 == 0: #쌤은 if not 썼던뎅,,,,
        even_list.append(num)
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension
even_list = [num for num in numbers if not num % 2]
print(even_list)

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [4]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [5]:
# 반복문을 활용하여 만들어주세요.
# human = []
# for g in girls:
#     for b in boys:
#         human.append(g, b)
          
# print(human)

# 쌤 풀이

pair = []
for girl in girls:
    for boy in boys:
        pair.append((girl, boy))
        
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

In [6]:
# List comprehension을 활용하여 만들어주세요.
pair = [(girl, boy) for girl in girls for boy in boys]
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [25]:
# 반복문을 활용하여 만들어주세요.
# nums = x < y < z < 50
# result = []
# for x in nums:
#     for y in nums:
#         for z in nums:
#             result.append((x, y, z))
# print(result)


# 쌤 풀이

result = []
for x in range(1, 50):
    for y in range(x+1, 50):   # (x,50)이 아니라 (x+1, 50)아니야?????
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [55]:
# List comprehension을 활용하여 만들어주세요. 
result = [(x, y, z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [6]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
vowels = 'aeiou'

result = [word for word in words if not word in vowels]  
print(''.join(result))

# vowel = []
# for word in words:
#     if word != 'a','e','i','o','u':
# #         pass
# #     else:
#         vowel.append(word)        
# # print(vowel)
# print(word)

# vowel = [word.pop for word in words]
# print(vowel)

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [7]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

In [8]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')
print(my_dict)

KeyError: 'melon'

In [9]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', 0) # 0이 아니라 'str'도 된당!!!!!

0

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [12]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple = '사과아') # 기존의 값 바꾸기
my_dict.update(aappllee = '사과아아아아') # 새롭게 추가하기
# my_dict[aappllee] = '사과아아아아'
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론', 'aappllee': '사과아아아아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [19]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
# my_dict['pineapple']
print(my_dict.get('pineapple', '없어요'))

없어요

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [20]:
# dictionary comprehension
cubic = {i: i**3 for i in range(1, 11)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [29]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [58]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}

# result = {}
# for key, value in dusts.items():
#     if value > 80:
#         result.append(key, value)
    
# print(result)

result = {key: value for key, value in dusts.items() if value > 80}
print(result)

{'대전': 82, '중국': 200}

In [59]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
result = {key: ('나쁨' if value > 80 else '보통') for key, value in dusts.items()}
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.??? 사용 안된댕 # else 뒤에 적는 if는 else 이후에 조건을 또 다는 것임
result = {key : ('매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통') for key, value in dusts.items()}

# 세트 메소드 활용

==순서를 보장하지 않음==

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.     순서가 상관 없음 중복이 없음

In [61]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('포도')
fruits.add('포도')
print(fruits)

{'포도', '사과', '바나나', '수박'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [63]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update({'토마토', '토마토', '딸기'})
fruits.update('레몬')  #레와 몬이 띄어지므로 튜플이나 리스트나 뭘로 감싸야함
print(fruits)

{'몬', '사과', '바나나', '수박', '토마토', '딸기', '레'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [65]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
fruits.remove('멜론')
print(fruits)

KeyError: '멜론'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [67]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.discard('메론')
print(fruits)

{'사과', '바나나', '수박'}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}
a.pop()
print(a)  
# 세트가 순서가 보장이 안돼서 임의의 원소가 빠지는 것
# 한 번 빼면 그 값을 계속 가지고 있기 떄뭉에 다시 할거면 restart하삼

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [11]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.
# 내 풀이
# result = []
# for num in numbers:
#     result.append(str(num))
# print(result)   
# 오오~~ 이거랑 밑에 map 1쓴 거랑 결과 똑같당ㅎㅎ

# 선생님 풀이
# result = ''
# for num in numbers:
#     result += str(num)
# print(result)

# map1
print(list(map(str, numbers)))

# map2
''.join(list(map(str, numbers)))

['1', '2', '3']

'123'

In [12]:
# list comprehension
''.join([str(number) for number in numbers])

'123'

In [17]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
list(map(int, chars))

[1, 2, 3]

In [19]:
# list comprehension
[int(c) for c in chars]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [20]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

numbers = [1, 2, 3, 4, 5]

list(map(cube, numbers))

[1, 8, 27, 64, 125]

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [22]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
print(list(zip(girls, boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [23]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다. for문으로 불가능하대!
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
# result = {}
# for pair in girls:
#     result
# print(pair)

{girl: boy for girl in girls for boy in boys}

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [24]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [25]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [26]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [28]:
def even(n):
    return not n%2

numbers = [1,2,3,4,5]
list(filter(even, numbers))
# even(2)
# True or False가 나옴

[2, 4]

In [29]:
# 다음의 list comprehension과 동일하다.
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4]

In [ ]:
n = input()  # input() : input을 통해 입력한 정보는 모두 스트링이다!!
total = 0
for i in n:
    total = total + int(i)
    print(total)

In [ ]:
n = input()  # input() : input을 통해 입력한 정보는 모두 스트링이다!!
total = 0
for i in n:
    total = total + int(i)
print(total)

In [ ]:
n = int(input())
total = 0
for i in range(n+1):
    total = total + int(i)
print(total)